---
const { value, classStyle, id } = Astro.props;
import ErrorMessage from "@components/ErrorMessage.astro";
---

<button
  class=`${classStyle||''} btn-base relative hover:bg-digit-base-hover grid place-content-center text-2xl text-digit-base border-b-secondary-key-shadow bg-secondary-key-bg`
  data-value={value}
  id={id}
>
  {id === "btn-equal" ? <ErrorMessage /> : null}
  <slot />
</button>
