
  <section>
    <div class="calc-output w-full  bg-screen-bg h-24 font-bold text-3xl text-right text-theme-panel  p-5  mb-6 rounded-lg">
      <output data-cy="calc-output"  id="output"></output>
    </div>
  </section>
