/* @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Poppins:ital,wght@0,400;0,800;1,400;1,700;1,800&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@300;400;500&display=swap'); */


/* base style */
*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    --x:0%;
    font-size:65%;

}
body{
    --round-sm:.7rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size:1.6rem;
    justify-content: center;
    background:var(--bg-page);
}

body.style-1{
    --bg-page: hsl(222, 26%, 31%);
    --dark-bg:hsl(224, 36%, 15%);
    --medium-bg:hsl(223, 31%, 20%);
    --btn-keypad:hsl(225, 21%, 49%);
    --shadow-btn:hsl(224, 28%, 35%);
    --btn-equel: hsl(6, 63%, 50%);
    --shadow-toggle-equel:hsl(6, 70%, 34%);
    --key-num: hsl(30, 25%, 89%);
    --key-num-shadow:hsl(28, 16%, 65%);
    --key-color: hsl(221, 14%, 31%);
    --base:#fff;
    --base-text-equal:#fff;
    --show-text:#fff;
    --key-hover:#fff;
}

.style-2{
    --bg-page:hsl(0, 0%, 90%);
    --dark-bg:hsl(0, 0%, 93%);
    --medium-bg:hsl(0, 5%, 81%);
    --btn-keypad:hsl(185, 42%, 37%);
    --shadow-btn:hsl(185, 58%, 25%);
    --btn-equel: hsl(25, 98%, 40%);
    --shadow-toggle-equel:hsl(25, 99%, 27%);
    --key-num: hsl(30, 25%, 89%);
    --key-num-shadow:hsl(28, 16%, 65%);
    --key-color: hsl(60, 10%, 19%);
    --base:hsl(60, 10%, 19%);
    --base-text-equal:#fff;
    --show-text:hsl(60, 10%, 19%);
    --key-hover:#fff;
}
 
.style-3{
    --bg-page: hsl(268, 75%, 9%);
    --dark-bg:  hsl(268, 71%, 12%);
    --medium-bg:hsl(268, 71%, 12%);
    --btn-keypad:  hsl(281, 89%, 26%);
    --shadow-btn: hsl(285, 91%, 52%);
    --btn-equel: hsl(176, 100%, 44%);
    --shadow-toggle-equel:hsl(177, 92%, 70%);
    --key-num:   hsl(268, 47%, 21%);
    --key-num-shadow:hsl(290, 70%, 36%);
    --key-color: hsl(52, 100%, 62%);
    --base:hsl(52, 100%, 62%);
    --base-text-equal:hsl(198, 20%, 13%);
    --show-text:hsl(52, 100%, 62%);
    --key-hover:hsl(281, 89%, 26%);
}
.main{
    width:30%;
    margin:0 auto;
    padding:2rem 0;
   
}
.show-result{
    height:3rem;
}

/* container tags */
.wrapper-top{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom:1.8rem;
    color:var(--base);
}

.container-theme{
     display: flex;
     align-items: flex-end;
     gap:0 2.5rem;
    
}

.container-show-result{
    width: 100%;
    background:var(--dark-bg);
    padding:2rem;
    margin-bottom:1.5rem;
}
.container-theme p{
    height: 100%;
     
}
.container-theme-num{
    display: flex;
    gap:1.5rem;
    margin-right:.5rem;
    margin-bottom:.5rem;
  
}
.container-theme-control{
    background:var(--medium-bg);
    border:2px solid var(--medium-bg);
    display: flex; 
     padding:.3rem;
    border-radius:1rem;
    align-items: center;
}
.wrapper-calc{
    display: flex;
    flex-wrap: wrap;
    padding:2rem;
    background:var(--medium-bg);
    gap:1.5rem;
    width: 100%;
}

/* style button */
.btn-theme{
    cursor: pointer;
    width: 100%;
    padding:.4rem;
    outline:none;
    height:1.8rem;
    cursor: pointer;
    position: relative;
}
.btn-theme input{
    position: absolute;
    width:100%;
    cursor: pointer;
    appearance:none;
    height:100%;
    left:calc(var(--x) + 2px);
    transform: translateX(calc( 0% - var(--x)));
    background:transparent;
    transition:all .3s;
    border-radius:50%;
    border:none;
    outline:none;
    }
.btn-theme input::-webkit-slider-thumb{
        background:var(--btn-equel);
        appearance: none;
        width: 1.3rem;
        height: 1.3rem;
        border-radius:100%;
    }
.btn-theme input::-webkit-slider-thumb:hover{
        filter: brightness(1.2);
        filter:contrast(.85);
    }
.btn-theme input:active,.btn-theme input:checked{
        border:none;
        outline:none;
    }

    .wrapper-calc button{
        font-size:2.5rem;
        padding:.6rem 0;
        border-radius:.7rem;
        flex:1 1 20%;
        border:none;
        border-bottom:4px solid var(--key-num-shadow);
        background:var(--key-num);
        font-weight:700;
        position: relative;
        overflow: hidden;
        outline:none;
        cursor: pointer;
        transition:transform .4s;
        color:var(--key-color);
        transition:all .3s;
    }
.wrapper-calc button:active{
         transform:scale(.98) translateY(.5rem);
    }
    
.wrapper-calc button.btn-key:hover{
        background:var(--key-hover);
    }
.wrapper-calc button.btn-del,.wrapper-calc button.btn-reset{
        background:var(--btn-keypad);
        color:#fff;
        font-size:1.8rem;
        border-bottom:4px solid var(--shadow-btn);
    }
.wrapper-calc button.btn-equel{
        background:var(--btn-equel);
        color:var(--base-text-equal);
        border-bottom:4px solid var(--shadow-toggle-equel);
        position: relative;
        overflow: visible;
    }

 .format{
    position: absolute;
    top:-1rem;
    background:var(--medium-bg);
    color:var(--base);
    opacity:0;
    display: none;
    transition:.3s all;
    right:calc(100% - 2rem);
    width:max-content;
    font-size:1.4rem;
    padding:.5rem .7rem;
    z-index:10;
    font-weight:400;
    border-radius:.4rem;
 }
  .format.show{
    display: block;
    opacity:.8;
    animation:show 2s ease-in forwards;
 } 
 
/* utilities */
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-sm{
    font-size:1rem;
}
.rouned-sm{
    border-radius:var(--round-sm);
}
.main .wrapper-calc .no-allow{
    cursor:not-allowed !important;
     opacity:.7;
}

/* formated text */
.container-show-result h2{
    font-size:3.5rem;
    text-align: right;
    color:var( --show-text);
}
.wrapper-top h3{
    font-size:2rem;
    line-height:1.5;
    font-weight:700;
}

/* style hover for tags */
main.main .btn-hover::before{
    content:"";
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    transition:all .3s;
    background:transparent;
}

/* style for button hover */
main.main .btn-hover:hover::before
{
    background:rgba(255,255,255,.22);
}



/* attribution */
.attribution {
     align-self:center;
     justify-content:flex-end;
      margin-bottom:1rem;
    font-size: 11px; text-align: center; }
.attribution a { color:var(--base); }


/* keyframe and animation */
 
@keyframes show {
    0%{
        opacity:.7;
        display: block;
    }
    100%{
        opacity:0;
        display: none;
    }
}

@media (max-width:1200px) {
    .main{
        width:35%;
    }
}
@media (max-width:900px) {
    html{
        font-size:64.5%;
    }
    .main{
        width: 40%;
    }
}
@media (max-width:760px) {
    .main{
        width:70%;
    }
    .wrapper-top .text-sm{
        font-size:1.3rem;
    }
}
@media (max-width:540px) {
    .main{
        width:90%;
    }
    .main .wrapper-calc .btn-key:not(.btn-hover){
        aspect-ratio:1/1.1;
    }
}

 

 

 