<footer class="text-theme-panel text-xs">
  Challenge by
  <a
    href="https://www.frontendmentor.io/challenges/calculator-app-9lteq5N29"
    target="_blank">Frontend Mentor Challenge</a
  >. Coded by <a href="#">Unlimited</a>.
</footer>
