@layer base{
    *,*::after,*::before{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    
    html{
        --x:0%;
        font-size:65%;
    
    }
    body{
        --round-sm:.7rem;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        gap:1rem;
        align-items: center;
        font-family: 'Hanken Grotesk', sans-serif;
        font-size:1.6rem;
        justify-content: center;
        background:var(--bg-page);
    }
    
    body.style-1{
        --bg-page: hsl(222, 26%, 31%);
        --dark-bg:hsl(224, 36%, 15%);
        --medium-bg:hsl(223, 31%, 20%);
        --btn-keypad:hsl(225, 21%, 49%);
        --shadow-btn:hsl(224, 28%, 35%);
        --btn-equel: hsl(6, 63%, 50%);
        --shadow-toggle-equel:hsl(6, 70%, 34%);
        --key-num: hsl(30, 25%, 89%);
        --key-num-shadow:hsl(28, 16%, 65%);
        --key-color: hsl(221, 14%, 31%);
        --base:#fff;
        --base-text-equal:#fff;
        --show-text:#fff;
        --key-hover:#fff;
    }
    
}    