---
import DisplayScreen from "@features/Display/components/DisplayScreen.astro";
import KeypadLayout from "@features/keypad/KeypadLayout.astro";
import ThemeToggle from "@features/themeToggle/ThemeToggle.astro";
---

<main class="w-full md:w-2/3 lg:w-1/3 p-4">
  <ThemeToggle />
  <form class="w-full" id="keypad-layout">
    <DisplayScreen />
    <KeypadLayout />
  </form>
</main>

<script></script>
