@import "tailwindcss";
@theme {
  --text-xs: 10px;
  --text-calc-xl: 24px;
  --color-main-bg: hsl(222, 26%, 31%);
  --color-panel-bg: hsl(223, 31%, 20%);
  --color-screen-bg: hsl(224, 36%, 15%);

  --color-key-bg: hsl(225, 21%, 49%);
  --color-key-shadow: hsl(224, 28%, 35%);

  --color-primary-key-bg: hsl(6, 63%, 50%);
  --color-primary-key-shadow: hsl(6, 70%, 34%);

  --color-secondary-key-bg: hsl(30, 25%, 89%);
  --color-secondary-key-shadow: hsl(28, 16%, 65%);

  --color-digit-base: hsl(224, 36%, 15%);
  --color-theme-panel: hsl(0, 0%, 100%);

  --color-digit-base-hover: hsl(0, 0%, 100%);
  --color-equal-color: hsl(0, 100%, 100%);
}

[data-theme="light"] {
  --color-main-bg: hsl(0, 0%, 90%);
  --color-panel-bg: hsl(0, 5%, 81%);
  --color-screen-bg: hsl(0, 0%, 93%);

  --color-key-bg: hsl(185, 42%, 37%);
  --color-key-shadow: hsl(185, 58%, 25%);

  --color-primary-key-bg: hsl(25, 98%, 40%);
  --color-primary-key-shadow: hsl(25, 99%, 27%);

  --color-secondary-key-bg: hsl(45, 7%, 89%);
  --color-secondary-key-shadow: hsl(35, 11%, 61%);

  --color-text-dark: hsl(60, 10%, 19%);
  --color-digit-base: hsl(221, 14%, 31%);
  --color-digit-dark: hsl(0, 0%, 100%);
  --color-theme-panel: hsl(0, 0%, 0%);
  --color-equal-color: hsl(0, 100%, 100%);
}

[data-theme="purple"] {
  --color-main-bg: hsl(268, 75%, 9%);
  --color-panel-bg: hsl(268, 71%, 12%);
  --color-screen-bg: hsl(268, 71%, 12%);

  --color-key-bg: hsl(281, 89%, 26%);
  --color-key-shadow: hsl(285, 91%, 52%);

  --color-primary-key-bg: hsl(176, 100%, 44%);
  --color-primary-key-shadow: hsl(177, 92%, 70%);

  --color-secondary-key-bg: hsl(268, 47%, 21%);
  --color-secondary-key-shadow: hsl(290, 70%, 36%);

  --color-theme-panel: hsl(52, 100%, 62%);
  --color-digit-base: hsl(52, 100%, 62%);
  --color-theme-panel: hsl(52, 100%, 62%);

  --color-digit-base-hover: hsl(285, 91%, 52%);
  --color-equal-color: hsl(221, 14%, 31%);
}

@layer components {
  .btn-base {
    @apply active:transform  hover:transition-colors active:scale-[0.98] active:translate-y-[0.5rem]  py-2 px-2 rounded-[.7rem] grid place-content-center flex-[1_1_20%] border-0 border-b-[4px]  font-bold  outline-none cursor-pointer transition-transform duration-400;
  }
  .btn-control::before {
    @apply content-['']
        absolute
        inset-0
        w-max
        h-max
        z-[1]
        bg-transparent
        transition-all
        duration-300;
  }
}

@layer utilities {
  input::-webkit-slider-thumb {
    @apply bg-primary-key-bg rounded-full w-4 h-4 appearance-none;
  }

  input::-webkit-slider-thumb:hover {
    filter: brightness(1.2) contrast(0.85);
  }

  input:active,
  input:checked {
    @apply outline-none border-none;
  }
  .fade {
    display: block;
    animation: fade-out 2s 3s linear forwards;
    transition: 200s;
  }

  @keyframes fade-out {
    from {
      display: block;
    }
    to {
      opacity: 0;
    }
  }
}
