
---
  import "@styles/global.css"
  import Header from "../components/Header.astro";
 import TheHead from '@components/TheHead.astro';
 import TheFooter from '@components/TheFooter.astro';
 import TheMain from "@components/TheMain.astro"
 
---
<html lang="en" dir="ltr">
	<TheHead />
	<body class="style-1">
		 <div class="main">
			<Header/>
			<TheMain/>
			<TheFooter />
		 </div>
	</body>
</html>
 