---
import TheFooter from "@components/TheFooter.astro";
import TheHead from "@components/TheHead.astro";
---

<html lang="en" dir="ltr">
  <TheHead />
  <body
    data-theme="dark"
    class="bg-main-bg h-screen flex flex-col items-center gap-0.5 justify-center"
  >
    <slot />
    <TheFooter />
  </body>
</html>
