   
<section>
    <div class="container-calc-output rouned-sm">
      <h2 data-cy="calc-output" class="calc-output"></h2>
    </div>
  </section>

  <style>
   .calc-output {
    height: 3rem;
   }
.container-calc-output{
    width: 100%;
    background:var(--dark-bg);
    padding:2rem;
    margin-bottom:1.5rem;
}
  </style>