

---
 import IncorrectFormat from "./IncorrectFormat.astro"
import KeyBtn from "./KeyBtn.astro";
 
---
 
<section class="wrapper-calc rouned-sm">
  <KeyBtn dataValue={7}/>
  <KeyBtn dataValue={8}/>
  <KeyBtn dataValue={9}/>
    <button class="base-btn-class btn-hover btn-del">DEL</button>
    <KeyBtn dataValue={4}/>
    <KeyBtn dataValue={5}/>
    <KeyBtn dataValue={6}/>
    <button class="base-btn-class btn-key operator no-allow" data-value="+">+</button>
    <KeyBtn dataValue={1}/>
    <KeyBtn dataValue={2}/>
    <KeyBtn dataValue={3}/>
    <button class="base-btn-class btn-key operator no-allow" data-value="-">-</button>
    <KeyBtn dataValue={"."}/>
    <KeyBtn dataValue={0}/>
    <button class="base-btn-class btn-key operator no-allow" data-value="/">/</button>
    <button class="base-btn-class btn-key operator no-allow" data-value="*">x</button>
    <button class="base-btn-class btn-hover btn-reset">RESET</button>
    <button class="base-btn-class btn-equel btn-hover">
      =
       <IncorrectFormat/>
 
    </button>
  </section>
  
  <script type="module" src="/src/assets/ts/modules/calculate.ts"></script>