

---
 import IncorrectFormat from "./IncorrectFormat.astro"
import KeyBtn from "./KeyBtn.astro";
import Operator from "./OperatorBtn.astro";
 
---
 
<section class="wrapper-calc rouned-sm">
  <KeyBtn dataValue={7}/>
  <KeyBtn dataValue={8}/>
  <KeyBtn dataValue={9}/>
    <button class="base-btn-class btn-hover btn-del" data-cy="delete">DEL</button>
    <KeyBtn dataValue={4}/>
    <KeyBtn dataValue={5}/>
    <KeyBtn dataValue={6}/>
    <Operator dataValue="+"/>
    <KeyBtn dataValue={1}/>
    <KeyBtn dataValue={2}/>
    <KeyBtn dataValue={3}/>
    <Operator dataValue="-"/>
    <KeyBtn dataValue={"."}/>
    <KeyBtn dataValue={0}/>
    <Operator dataValue="/"/>
    <Operator dataValue="*"/>
    <button   data-cy="reset" class="base-btn-class btn-hover btn-reset">RESET</button>
    <button data-cy="btn-equal" class="base-btn-class btn-equel btn-hover">
      =
       <IncorrectFormat/>
 
    </button>
  </section>
  
  <script type="module" src="/src/assets/ts/modules/calculate.ts"></script>