 
<header>
    <section class="wrapper-top">
      <h3>
         calc 
      </h3>
      <div class="text-sm container-theme">
        <h5>THEME</h5>
        <div>
          <div>
            <div class="container-theme-num">
              <small>1</small>
              <small>2</small>
              <small>3</small>
            </div>
            <div class="btn-theme container-theme-control">
              <input class="input-theme" type="range" min="2" max="12" step="5" value="2" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>

 
<style>
 
 
</style>

<script type="module" src="/src/assets/ts/modules/changeTheme.ts"></script>