

<div class="wrapper-incorrect-format">
    <p>Invalid format used</p>
</div>

<style>
    .wrapper-incorrect-format{
    position: absolute;
    top:-1rem;
    background:var(--medium-bg);
    color:var(--base);
    opacity:0;
    display: none;
    transition:.3s all;
    right:calc(100% - 2rem);
    width:max-content;
    font-size:1.4rem;
    padding:.5rem .7rem;
    z-index:10;
    font-weight:400;
    border-radius:.4rem;
 }
  .wrapper-incorrect-format.hide{
    display: block;
    opacity:.9;
    animation:hide 2s ease-in forwards;
 }
</style>