   
<section>
    <div class="container-show-result rouned-sm">
      <h2 class="show-result"></h2>
    </div>
  </section>

  <style>
   .show-result {
    height: 3rem;
   }
.container-show-result{
    width: 100%;
    background:var(--dark-bg);
    padding:2rem;
    margin-bottom:1.5rem;
}
  </style>