
---
 import CalculatorText from "./CalculatorText.astro"
---
<main>
    <CalculatorText/>
    <section class="wrapper-calc rouned-sm">
      <button class="btn-key" data-value="7">7</button>
      <button class="btn-key" data-value="8">8</button>
      <button class="btn-key" data-value="9">9</button>
      <button class="btn-hover btn-del">DEL</button>
      <button class="btn-key" data-value="4">4</button>
      <button class="btn-key" data-value="5">5</button>
      <button class="btn-key" data-value="6">6</button>
      <button class="btn-key btn-sign no-allow" data-value="+">+</button>
      <button class="btn-key" data-value="1">1</button>
      <button class="btn-key" data-value="2">2</button>
      <button class="btn-key" data-value="3">3</button>
      <button class="btn-key btn-sign no-allow" data-value="-">-</button>
      <button class="btn-key" data-value=".">.</button>
      <button class="btn-key" data-value="0">0</button>
      <button class="btn-key btn-sign no-allow" data-value="/">/</button>
      <button class="btn-key btn-sign no-allow" data-value="*">x</button>
      <button class="btn-hover btn-reset">RESET</button>
      <button class="btn-equel btn-hover">
        =
        <div class="format">
          <p>Invalid format used</p>
        </div>
      </button>
    </section>
  </main>